@font-face {
  font-family: 'GeneralSans';
  src: url('../public/fonts/GeneralSans-Regular.otf') format('opentype');
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F6F6F6;
}